@media screen and (max-width:1000px){
    nav{
        flex-direction: column;
    }

    .logo{
        justify-content: center;
        margin: 10px 0 0 0;
    }
    .slider {
        height: 23vh;
    }

    nav ul{
        justify-content: center;
        height: 35px;
    }

    .search{
        justify-content: center;
    }

    .search input {
        margin: 12px 16px;
    }

    .cards{
        flex-direction: column;
    } 
    
    .card-item img{
        height: 50vh;
    }
}